/** Fix Icons **/
nav .material-icons { 
  line-height: inherit; 
}

/**** NavBar ****/
nav {
    background-color: #0484c3;
}

.nav-wrapper .brand-logo{
    margin-left: 15px;
}
/**************/
/** FIX z-index Dropdown **/
.collection.fixed-drop {
  
  overflow: visible;
}
/**************************/

#main {
    position: absolute; 
    top: 64px;
    bottom: 0px; 
    width: 100%; 
    overflow-y: auto; 
}


@media only screen and (min-width: 992px) {
    .modal.bottom-sheet{
        width:80%;
        margin:0 auto;
        height: 55%
    }
}
@media only screen and (max-width: 350px) {
    h1{
        font-size: 3.50rem
    }
}
.logo {
        max-height: 44px;
        margin-top: 10px;
        margin-left: 5%;
}
.logo-footer {
        max-height: 44px;
        margin-top: 10px;                
}
.slider.fullscreen{
    height: 100% !important;
}
.slider .indicators .indicator-item.active{
    background-color: #90caf9;
}
#hero-img {
    position: relative;
    height: 100vh;
}
.hero-bg{
    background-image: url("../recursos/img/slide2.jpg");
    background-size: cover;
    background-position: center no-repeat;
    max-height: 89vh;
}
#proyect-img {
    position: relative;
    height: 100vh;
}
.modal{
    width:55%;            
}
.modal.bottom-sheet{
    max-height: 70%;            
}
.modal .description{
    padding: 24px;
}        
.float-btn{
    bottom:-28px; 
    z-index:2; 
    position:absolute
}

.indigo-bg{
    background-color: #e8eaf6;
}
.blue-darken-bg{
    background-color: #01579b;
    color: white
}
.floating-btn{
    position: absolute;
    bottom: -28px;
    right:32px;
    z-index: 2;
}
.fab-btn{
    position: absolute;
    right:10%;
}
.banner-fab{
    position:absolute;
    right:80px;            
    z-index: 2;
}
.card-floating-btn{
    position: absolute;
    bottom: -12px;
    right:12px;
    z-index: 2;
}
.card-fab-btn{
    position: absolute;
    right:2%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating){
    color: #1e88e5 !important
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover{
    color: #90caf9 !important
}
.card .card-action-no-border a:not(.btn):not(.btn-large):not(.btn-floating){
    color: #1e88e5 !important
}
.card .card-action-no-border a:not(.btn):not(.btn-large):not(.btn-floating):hover{
    color: #90caf9 !important
}

.card .card-action-no-border{
    padding: 20px;
}

.no-mar-bot{
    margin-bottom: 0;
}
.no-margin{
    margin: 0;
}
.tabs .indicator{
    background-color: #1e88e5;
}
.tabs{
    background-color: #e8eaf6;
}
.tabs .tab a{
    color:#1e88e5;
}
.tabs .tab a:hover{
    color: #90caf9;
}
.banner{
    background-color: #01579b;
    color:white;
}
.banner-pad{
    padding-bottom: 80px;
    padding-top: 80px
}
.banner-pad-bot{
    padding-bottom: 2rem;
}        
nav ul a{
    color:#455a64;
    font-weight: 400;
    text-transform: uppercase;

}
nav ul li a:hover, nav ul a.active{
    color: #01579b;
    background-color: transparent;
    font-weight: 500;
}
nav ul li.active{
    background-color: transparent;
    color: #01579b;
}
.fix-icon{
    position: relative;
    top:7px
}        
.dropdown-content li a{
    color:#039be5;
}

.brand-list{
    list-style-type: none
}
.brand-list li{
    margin-bottom: 30px;
    text-align: center;
}
.brand-list li img{
    margin: 0 auto;
    max-height: 80px;
    max-width: 160px;
}

.overlay {            
    background:transparent; 
    position:relative; 
    width:100%;
    height:620px; 
    top:620px; 
    margin-top:-620px;  
}

.dropdown-content li span{
     color:#039be5;
}

/*Inputs color*/

input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea.materialize-textarea {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #2196f3;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  margin: 0 0 15px 0;
  padding: 0;
  box-shadow: none;
  box-sizing: content-box;
  transition: all .3s;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #1e88e5;
  box-shadow: 0 1px 0 0 #1e88e5;
}

input:not([type]):focus:not([readonly]) + label,
input[type=text]:focus:not([readonly]) + label,
input[type=password]:focus:not([readonly]) + label,
input[type=email]:focus:not([readonly]) + label,
input[type=url]:focus:not([readonly]) + label,
input[type=time]:focus:not([readonly]) + label,
input[type=date]:focus:not([readonly]) + label,
input[type=datetime-local]:focus:not([readonly]) + label,
input[type=tel]:focus:not([readonly]) + label,
input[type=number]:focus:not([readonly]) + label,
input[type=search]:focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #1e88e5;
}

input:not([type]).valid, input:not([type]):focus.valid,
input[type=text].valid,
input[type=text]:focus.valid,
input[type=password].valid,
input[type=password]:focus.valid,
input[type=email].valid,
input[type=email]:focus.valid,
input[type=url].valid,
input[type=url]:focus.valid,
input[type=time].valid,
input[type=time]:focus.valid,
input[type=date].valid,
input[type=date]:focus.valid,
input[type=datetime-local].valid,
input[type=datetime-local]:focus.valid,
input[type=tel].valid,
input[type=tel]:focus.valid,
input[type=number].valid,
input[type=number]:focus.valid,
input[type=search].valid,
input[type=search]:focus.valid,
textarea.materialize-textarea.valid,
textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #1e88e5;
  box-shadow: 0 1px 0 0 #1e88e5;
}

input:not([type]).valid + label:after,
input:not([type]):focus.valid + label:after,
input[type=text].valid + label:after,
input[type=text]:focus.valid + label:after,
input[type=password].valid + label:after,
input[type=password]:focus.valid + label:after,
input[type=email].valid + label:after,
input[type=email]:focus.valid + label:after,
input[type=url].valid + label:after,
input[type=url]:focus.valid + label:after,
input[type=time].valid + label:after,
input[type=time]:focus.valid + label:after,
input[type=date].valid + label:after,
input[type=date]:focus.valid + label:after,
input[type=datetime-local].valid + label:after,
input[type=datetime-local]:focus.valid + label:after,
input[type=tel].valid + label:after,
input[type=tel]:focus.valid + label:after,
input[type=number].valid + label:after,
input[type=number]:focus.valid + label:after,
input[type=search].valid + label:after,
input[type=search]:focus.valid + label:after,
textarea.materialize-textarea.valid + label:after,
textarea.materialize-textarea:focus.valid + label:after {
  content: attr(data-success);
  color: #1e88e5;
  opacity: 1;
}

input:not([type]).invalid, input:not([type]):focus.invalid,
input[type=text].invalid,
input[type=text]:focus.invalid,
input[type=password].invalid,
input[type=password]:focus.invalid,
input[type=email].invalid,
input[type=email]:focus.invalid,
input[type=url].invalid,
input[type=url]:focus.invalid,
input[type=time].invalid,
input[type=time]:focus.invalid,
input[type=date].invalid,
input[type=date]:focus.invalid,
input[type=datetime-local].invalid,
input[type=datetime-local]:focus.invalid,
input[type=tel].invalid,
input[type=tel]:focus.invalid,
input[type=number].invalid,
input[type=number]:focus.invalid,
input[type=search].invalid,
input[type=search]:focus.invalid,
textarea.materialize-textarea.invalid,
textarea.materialize-textarea:focus.invalid {
  border-bottom: 1px solid #e53935;
  box-shadow: 0 1px 0 0 #e53935;
}

input:not([type]).invalid + label:after,
input:not([type]):focus.invalid + label:after,
input[type=text].invalid + label:after,
input[type=text]:focus.invalid + label:after,
input[type=password].invalid + label:after,
input[type=password]:focus.invalid + label:after,
input[type=email].invalid + label:after,
input[type=email]:focus.invalid + label:after,
input[type=url].invalid + label:after,
input[type=url]:focus.invalid + label:after,
input[type=time].invalid + label:after,
input[type=time]:focus.invalid + label:after,
input[type=date].invalid + label:after,
input[type=date]:focus.invalid + label:after,
input[type=datetime-local].invalid + label:after,
input[type=datetime-local]:focus.invalid + label:after,
input[type=tel].invalid + label:after,
input[type=tel]:focus.invalid + label:after,
input[type=number].invalid + label:after,
input[type=number]:focus.invalid + label:after,
input[type=search].invalid + label:after,
input[type=search]:focus.invalid + label:after,
textarea.materialize-textarea.invalid + label:after,
textarea.materialize-textarea:focus.invalid + label:after {
  content: attr(data-error);
  color: #e53935;
  opacity: 1;
}

.input-field .prefix.active {
  color: #1e88e5;
}