/*=================================================================================
    General
====================================================================================*/
/*----------------------------------------
  General Layout Style
------------------------------------------*/
body {
  background-color: #f9f9f9;
}

#main {
  padding-left: 240px;
}

footer {
  padding-left: 240px;
}

footer.page-footer {
  padding-top: 0px;
}



#sidenav-overlay {
  background-color: transparent;
}


#left-sidebar-nav {
  position: fixed;
  width: 100px;
  left: 180px;
  z-index: 999;
  height: auto;
}

#left-sidebar-nav span.badge.new {
  line-height: 20px;
  margin-top: 11px;
}

#content .header-search-wrapper {
  width: 100%;
  margin: 0 auto;
  height: 40px;
  display: inline-block;
  position: relative;
}

#content .container .row {
  margin-bottom: 0;
}


@media only screen and (max-width: 993px) {
  #main {
    padding-left: 0;
  }
  footer {
    padding-left: 0;
  }
}

.ps-scrollbar-x-rail {
  z-index: 9999;
}

.ps-scrollbar-y-rail {
  z-index: 9999;
}


/*----------------------------------------
    Pre-loader
------------------------------------------*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #eceff1;
  z-index: 1000;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#loader-wrapper .loader-section.section-left {
  left: 0;
}

#loader-wrapper .loader-section.section-right {
  right: 0;
}

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  z-index: 1001;
}

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite;
}

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

#loader-logo {
  display: block;
  position: absolute;
  left: 48%;
  top: 46%;
  background: url("../images/user-bg-2.jpg") no-repeat center center;
  z-index: 1001;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out;
}

.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.progress {
  background-color: rgba(255, 64, 129, 0.22);
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
  display: none;
}

/*=================================================================================
    Header
====================================================================================*/
/*----------------------------------------
    Page Header
------------------------------------------*/
h1.logo-wrapper {
  margin: 0;
}

h1 span.logo-text {
  display: none;
}

.menu-sidebar-collapse {
  margin: 0 10px;
}

.menu-sidebar-collapse i {
  line-height: 36px !important;
}

header .brand-logo {
  margin: 1px 0;
  padding: 14px 20px;
}

header .brand-logo img {
  width: 172px;
}

@media only screen and (max-width: 992px) {
  nav .nav-wrapper {
    text-align: center;
  }
  nav .nav-wrapper a.page-title {
    font-size: 36px;
  }
  ul.side-nav.leftside-navigation {
    top: 56px !important;
  }
}

/*Search box*/
.header-search-wrapper {
  margin: 10px auto 0 240px;
  width: calc(100% - 600px);
  height: 40px;
  display: inline-block;
  position: relative;
}

.header-search-wrapper i {
  position: absolute;
  font-size: 24px;
  top: 6px;
  left: 24px;
  line-height: 32px !important;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

input.header-search-input {
  display: block;
  padding: 8px 8px 8px 72px;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  height: 24px;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border: none;
  font-size: 16px;
  appearance: textfield;
  font-weight: 400;
  outline: none;
  border-radius: 3px;
}

input.header-search-input:hover {
  background: rgba(255, 255, 255, 0.5);
}

input.header-search-input:focus {
  color: #333;
  background: #fff;
  border-bottom: none !important;
  box-shadow: none !important;
}

.header-search-wrapper-focus i {
  color: #444;
}

.header-search-input::-webkit-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input::-moz-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input:-ms-input-placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input:focus::-webkit-input-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input:focus::-moz-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input:focus::placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input:focus:-ms-input-placeholder {
  color: #333;
  font-size: 16px;
  font-weight: 400;
}

.header-search-input::placeholder {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.search-out {
  display: none;
}

.search-out input[type=text]:focus:not([readonly]) {
  border-bottom: 1px solid #fff !important;
  box-shadow: none;
}

.search-out-text {
  border-bottom: 1px solid #fff !important;
}

.translation-button img {
  position: relative;
  top: 12px;
}

#translation-dropdown .language-select {
  position: relative;
  top: -9px;
}

.notification-badge {
  position: relative;
  right: 5px;
  top: -20px;
  color: #ffffff;
  background-color: #FF4081;
  margin: 0 -.8em;
  border-radius: 50%;
  padding: 4px 5px;
}

#notifications-dropdown h5 {
  font-size: 1rem;
  text-transform: capitalize;
  font-weight: 500;
}

#notifications-dropdown li {
  padding: 10px;
  font-size: 1rem;
}

#notifications-dropdown li > a {
  padding: 0;
  font-size: 1rem;
  font-weight: 300;
}

#notifications-dropdown li > a > i {
  display: inline-block;
  font-size: 1.2rem;
  position: relative;
  top: 4px;
}

#notifications-dropdown li > time {
  font-size: 0.8rem;
  font-weight: 400;
}

#notifications-dropdown li.divider {
  padding: 0;
}

/*=================================================================================
    Sidebar
====================================================================================*/
/*----------------------------------------
    Sidebar Main Menu 
------------------------------------------*/
nav.top-nav {
  height: 122px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

nav.top-nav a.page-title {
  line-height: 122px;
  font-size: 48px;
}

nav ul li.no-hover:hover {
  background: none;
}

.side-nav a {
  line-height: 42px;
  height: 42px;
}

.side-nav.leftside-navigation .collapsible-body li.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.side-nav.fixed.leftside-navigation .collapsible-body li.active {
  background-color: rgba(0, 0, 0, 0.04);
}

.side-nav .collapsible-body li a {
  margin: 0 1rem 0 3rem;
}

ul.side-nav.leftside-navigation {
  top: 64px;
  overflow: hidden;
}

ul.side-nav.leftside-navigation hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin: 1em 0;
  padding: 0;
}

ul.side-nav.leftside-navigation li {
  line-height: 44px;
}

ul.side-nav.leftside-navigation li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

ul.side-nav.leftside-navigation li.active {
  background-color: rgba(0, 0, 0, 0.04);
}

ul.side-nav.leftside-navigation li a {
  font-size: 14px;
  font-weight: 400;
}

ul.side-nav.leftside-navigation li.user-details {
  /*background: url("../images/user-bg.jpg") no-repeat center center;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 15px;
  padding: 15px 0 0 15px;
}

ul.side-nav.leftside-navigation li.user-details #profile-dropdown a {
  padding: 8px 15px;
}

ul.side-nav.leftside-navigation .profile-btn {
  margin: 0;
  text-transform: capitalize;
  padding: 0;
  text-shadow: 1px 1px 1px #444;
  font-size: 15px;
}

ul.side-nav.leftside-navigation ul.collapsible-accordion {
  background-color: #fff;
}

ul.side-nav li {
  padding: 0;
}

ul.side-nav .collapsible-header {
  margin: 0;
}

#slide-out li a i {
  line-height: inherit;
  width: 2rem;
  font-size: 1.6rem;
  display: block;
  float: left;
  text-align: center;
  margin-right: 1rem;
}

#slide-out ul.side-nav li {
  padding: 0 !important;
}

.caption {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.caption-uppercase {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.sidebar-collapse {
  position: absolute;
  left: -170px;
  top: -45px;
}

.user-task,
.user-time {
  margin: 0;
  font-size: 13px;
  color: #fff;
}

.user-roal {
  color: #fff;
  margin-top: -16px;
  font-size: 13px;
  text-shadow: 1px 1px 1px #444;
}

.user-details .row {
  margin: 0;
}

.bold > a {
  font-weight: bold;
}

.rightside-navigation {
  overflow: hidden;
}

/*----------------------------------------
    Right Chat Slideout
------------------------------------------*/
#right-search .input-field {
  margin-top: 0;
}

#chat-out .collapsible-header {
  background-color: transparent;
  border: none;
  line-height: 45px;
  height: 45px;
  font-weight: 400;
}

#chat-out .collapsible-header:after {
  color: #fff;
}

#chat-out .chat-out-list {
  padding: 5px;
  margin: 0;
  border-bottom: 1px solid #e0e0e0;
}

#chat-out .favorite-associate-list .circle {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 2px solid #999;
  padding: 3px;
  display: block;
}

#chat-out .favorite-associate-list .online-user {
  border: 2px solid #00e676;
}

#chat-out .favorite-associate-list p {
  padding: 0;
}

#chat-out .favorite-associate-list p.place {
  font-size: 0.8rem;
}

#chat-out .recent-activity-list-icon {
  margin-top: 8px;
  font-size: 2rem;
}

#chat-out .recent-activity-list-text a {
  font-size: 0.8rem;
  padding: 0;
  font-weight: 600;
}

#chat-out .recent-activity-list-text p {
  font-size: 0.9rem;
  padding: 0;
}

.chat-close-collapse {
  padding: 5px 15px 0 0;
}


/*----------------------------------------
    Calender
------------------------------------------*/
#full-calendar {
  padding-top: 30px;
}

#calendar h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 35px;
}

#calendar .fc-day-header {
  text-transform: uppercase;
  font-weight: 400;
}

#external-events {
  padding-top: 50px;
}

#external-events .fc-event {
  color: #fff;
  text-decoration: none;
  padding: 5px;
  margin-bottom: 10px;
  cursor: all-scroll;
  border: none;
}

.fc button {
  background: #fff;
}

.fc td {
  border-width: 0 !important;
}

.fc th {
  border-width: 0 !important;
}

.fc-state-active {
  color: #ff4081 !important;
}

.fc-state-down {
  color: #ff4081 !important;
}

